body {
    font-family: system-ui;
}
#tooltip_map{
    position: absolute;
    opacity: 0;
    background: #fff;
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 600;
    padding: 2px 8px;
}
.tooltip-label_map{
    font-weight: 500;
    font-size: 11px;
    color: #888;
}