
body {
font-family: system-ui;
}
#tooltip {
position: absolute;
opacity: 0;
background: #fff;
border: 1px solid #ddd;
font-size: 20px;
font-weight: 600;
padding: 2px 8px;
color:blue
}
.tooltip-label {
font-weight: 500;
font-size: 11px;
color: red;
}